@charset "utf-8";
@import url("../js/JavaScript.txt.css");
body {
	background-color:white;
}
#container {
	background-color:antiquewhite
	width: 800px;
	margin-left:auto;
	margin-right:auto;
}
#header {
 background-color:antiquewhite;
color:dimgray;
	text-align: center;
}
#content {
	padding-left:10px 10px 10px 10px 10px;
}
#nav {
width:180px;	
}
#main {
	width: 600px;
	float: right;
}
#nav .selected {
	font-weight: bold;
	
}
#footer {
	clear:both; 
}
#AviMeilson {
	height: 300px;
	box-shadow: 20px 10px 5px gray;
}